* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial;
}



body{
    background-color: grey;
}

header{
    background-color: grey;
    text-align: center;
}
h1{
    font-size: 60px;
}

main{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 20px black;
    padding-top: 200px;
    padding-right: 80px;
    padding-bottom: 200px;
    padding-left: 80px;
    background-color: white;
    max-width: 1500px;
    max-height: 850px;
    margin-left: 200px;
    
    
}

.generate{
    font-weight: 600;
    border: solid 2px black;
    outline: 0;
    padding: 1rem 4rem;
    font-size: 1.5rem;
    letter-spacing: .08rem;
    background-color: white;
    border-radius: .35rem;
    position:absolute;
    cursor: pointer;
    
  


    
}


.generate::after {
    top: .5rem;
    left: .5rem;
}

.important{
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.box{
    width: 600px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
    border-style: dotted;
    align-items: center;

}
.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 100px;
}

footer{
    text-align: center;
}

#password{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 550px;
    
}

p{
    font-size: 30px;
}